//
   Created by Hails on 28/09/2016.
extends layout
block content
    .container.col-xs-10
        .row
            .col-xs-10.movieDetails
                if(movie)
                    img(src=("https://image.tmdb.org/t/p/w500"+movie.poster_path))
                    .page-header
                        h1= movie.title
                    p= movie.overview
                    br
                    if(comments)
                        .comments
                            for comment in comments
                                    .comment
                                        h1= comment.user.local.name
                                        p= comment.body
                                        p= comment.date
                    br
                    .error(show="false")
                        p Comment must not be blank
                    form.form-group.commentForm(id="theForm", action="javascript:;", onsubmit="onComment(" + movie.id + ")")
                        textarea.commentText(id="message", name="message")
                        br
                        button.btn(type="submit") Comment
    script(src="/javascripts/movies.js", type='text/javascript')